@{
    ViewData["Title"] = "About";
}


<h4>Bringing your movie collection under control</h4>

<p>If you use MovieCatalog, the movie catalog program, you will always know where on your shelf or on your hard drive a particular movie can be found, what audio tracks, subtitles and other parameters it has. A sensible film synopsis along with the list of actors and with the movie cover will be a bonus.</p>

<h4>Memories about the movie</h4>

<p>After adding a movie to MovieCatalog you will always remember if you have already watched it, what the movie is about and how much you liked it. A glance at the movie description and shots from the film will suffice. Shots can be added automatically from the corresponding file or DVD. MovieCatalog can store your own <strong>movie rating</strong>, as well as ratings of online movie databases (like IMDb).</p>

<h4>You are a movie expert</h4>

<p>
    Thanks to MovieCatalog you will know everything about the world of movies. Learn what awards were given to the film, its budget, what people
    were starring in it. Find out at what age the actors played in the movie, when they were born, in what other films they participated. Prepare yourself to be called a "walking encyclopedia".
</p>

<h4>Create a movie catalog</h4>

<p>You can create an illustrated movie catalog for media players: <a href="/articles/create-a-movie-catalog-for-dune-media-players.htm?ref=splash_dune">Dune</a>, 
<a href="/articles/movie-catalog-popcorn-hour-a-400.htm?ref=splash_popcorn">Popcorn</a>, WDTV and Google TV.</p>

<h4>Where did I see this actor?..</h4>

<p>In a few seconds you will learn everything about the movie or the actor that you find interesting. The film cataloger will automatically perform an Internet search and download necessary information (movie synopsis, movie cover, movie rating, <strong>movie awards</strong>, gross, shots, <strong>filmography</strong>). All of this will be saved in the local film database, and you will be able to remember instantly in which movie a favorite actor played, or to review a <strong>movie description</strong>.</p>

