@{
    ViewData["Title"] = "Contact";
}

<address>
    Darko Boshkovski<br />
    <br />
    <abbr title="Phone"></abbr>
    425.555.0100
</address>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/darko-boshkovski-2a1261226/">"LinkedIn Profile"</a><br />
    <strong>Github:</strong> <a href="https://github.com/darko-boskovski">"GitHub Profile"</a><br />
    <strong>Github Pages:</strong> <a href="https://darko-boskovski.github.io/">"GitHub Pages"</a><br />
</address>