@{
    ViewData["Title"] = "Contact";
}

<address>
    Darko Boshkovski<br />
    <br />
    <abbr title="Phone"></abbr>
    425.555.0100
</address>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/darko-boshkovski-2a1261226/">"https://www.linkedin.com/in/darko-boshkovski-2a1261226/"/</a><br />
    <strong>Github:</strong> <a href="https://github.com/darko-boskovski">"https://github.com/darko-boskovski"</a><br />
    <strong>Github Pages:</strong> <a href="https://darko-boskovski.github.io/">"https://darko-boskovski.github.io"/</a><br />
</address>