

@model List<MovieViewModel>

@{

    string genreString = "";

    string castString = "";
}



<div class="container body-content">
    <h3>Movies</h3>

    <div class="products">
        @foreach (var movie in Model)
        {
            <div class="thumbnail">
                <div class="half">
                    <img onclick="document.location = 'Movie/Details/@movie.Id'" class="product-image" src="~/images/Movies/movie-@(movie.Id).jpg" />
                </div>
                <div class="caption">
                    <h3>@movie.Title</h3>
                    <p><strong>Genre:</strong><br /> @movie.MovieGenre.Select(x => x.Genre.GenreType.ToString()).SingleOrDefault()</p>
                    <p><strong>Release Date:</strong><br /> @movie.ReleaseDate.ToShortDateString()</p>
                    <p><strong>Description:</strong><br /> @movie.Description </p>
                </div>
            </div>

        }
    </div>
</div>
